html, body{
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Poppins';
}

.navbar{
    flex-direction: column-reverse;
    display: flex;
}
ul{
    list-style-type: none;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    text-decoration: underline;
    text-decoration-color: #F6B400;
    text-decoration-thickness: 5px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 1rem;
}

.far-left{
    display: flex;
    float: left;
}

.far-right{
    display: flex;
    float: left;
    width: 60%;
    justify-content: inherit;
    padding-right: 2%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img{
    height: 2rem;
}

.logo-title{
    color: #F6B400;
    font-style: italic;
    font-size: 1.3rem;
}

.hero{
    display: flex;
    flex-direction: row;
    height: 30rem;
}

.matrix{
    width: 100%;
    padding-top: 10%;
    padding-left: 5%;
}

.matrix-img{
    width: -webkit-fill-available;
    position: relative;
}

.bg-img{
    position: relative;
    height: 35rem;
    left: -15%;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.sub-title{
    font-size: 1rem;
    margin-bottom: 2rem;
    color: gray;
}

.order-btn{
    background-color: #F6B400;
    width: fit-content;
    padding: 3%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.melonie{
    display: flex;
    flex-direction: row;
    background-color: #edf5f1;
    height: 45rem;
    position: relative;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20%;
}